<div class="row centrado justify-content-center">
  <h1>Ejemplos Pipes</h1>
  <div class="col-md-9">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>upperCase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowerCase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice</td>
          <td>{{ nombre | slice: 2 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number</td>
          <td>{{ PI | number: "1.0-2" }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number</td>
          <td>{{ PI | number: "2.0-3" }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date: "medium" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date: "MMMM-dd-yyyy" }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date: "MMMM-dd-yyyy" }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>mi pipe mayuscula</td>
          <td>{{ nombre | mayuscula: "Bienvenido":"a nuestra pagina" }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>Boton</td>
          <td>
            <button
              class="btn btn-info"
              (click)="generarAlerta(2, 'Andres', nombre)"
            >
              Alerta
            </button>

            <select
              class="form-control"
              (change)="generarAlerta(2, 'Andres', nombre)"
            >
              <option>Seleccinar</option>
              <option>Opcion 1</option>
              <option>Opcion 2</option>
              <option>Opcion 3</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Ejecicio
Van a crear un pipe que se llame capitalizar va ha recibir un nombre y va a tener un parametro
que sea number 

parametro va a recibir
1 -> volver todo en mayuscula
2 -> todo en minuscula
3 -> 'andRes HerReRa' -> Andres Herrera -> capitalizar -->

<!-- Ejercicio 2
Se van a crear un pipe ActivarContrasena 

variable = 'Andres Herrera'

Activo = 'Andres Herrera'
Desactivo = '****** *******'

boton activar y desactivar -> variable que maneje ese estado ('true','false') -->
