<div class="container-fluid">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>

<!-- 
  1. crear la siguiente estructura
    componentes
      -heroesC
        -buscadorC
        -heroeC
        -heroe-tarjetaC
      -modulo de heroes y las rutas
  
  2. Crear las rutas para el componente de Heroes, buscador, heroe.

  3. Las rutas de buscardo y de heroe reciben un parametro, investigar
      como crear rutas con parametros
  
  4. Componente de heroes van a crear un formulario reactivo con los siguientes campos
      -nombre
      -descripcion
      -img -> 
      -poder
      -casa  -> combo - opciones - Marvel o Dc
  
  5. Formulario con las validaciones que ustedes concideren, inventar 2 validaciones

  6. Cuando le den a guardar, los heroes creados tienen que quedar en un observable (casi igual que
    el ejemplo del login) "Recurden utilizar interfaces";


  ****Los principios SOLID

  7. Debajo del formulario deben colocar el componente de HeroeTarjeta, este componente va a recibir
    1. el arreglo de Heroes
    2. Hacer ngFor en el componente Heroes y al componente de HeroeTarjeta enviar de aun heroe(uno por uno)

  8. Es mostrar los heroes en tarjetas --https://getbootstrap.com/docs/5.2/components/card/#example
    -card
      -nombre, la imagen, la descripcion, la casa
      -boton que diga ver mas...

 -->
