<div class="container-fluid">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>

<!-- 
  1. crear la siguiente estructura
    componentes
      -heroesC
        -buscadorC
        -heroeC
        -heroe-tarjetaC
      -modulo de heroes y las rutas
  
  2. Crear las rutas para el componente de Heroes, buscador, heroe.

  3. Las rutas de buscardo y de heroe reciben un parametro, investigar
      como crear rutas con parametros
  
  4. Componente de heroes van a crear un formulario reactivo con los siguientes campos
      -nombre
      -descripcion
      -img
      -poder
      -casa  -> combo - opciones - Marvel o Dc
  
  5. Formulario con las validaciones que ustedes concideren, inventar 2 validaciones

  6. Cuando le de a guardar me muestre solo los valores del formulario




 -->
